<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style type="text/css">
		img{
		    width: auto;
		    height: auto;
		    max-width: 100%;
		    max-height: 100%;  
		}
		.pair{
		     border:1px solid gray;
		     vertical-align:top;
		}
	</style>
	<script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
    <script th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function(){	        
	        var connect = function() {
	            if (socket && socket.readyState == WebSocket.OPEN) {
	            	socket.close();
	                document.getElementById('connect').value='connect'
	            	return;
	            } else {
	            	var url=window.document.location.href;
	            	var hostPos = url.indexOf("//") + 2 ;
	            	var pathPos = url.indexOf("/", hostPos);
	            	var hostport;
	            	if (pathPos >= 0) {
	            		hostport = url.substring(hostPos, pathPos);
	            	} else {
	            		hostport = url.substring(hostPos);
	            	}
	            	var portPath = hostport.indexOf(":");
	            	var host;
	            	if (portPath >= 0) {
	            		host = hostport.substring(0, portPath);
	            	} else {
	            		host = hostport;
	            	}
	                socket = new WebSocket(ws + "://" + host + ":" + wsport + "/ws");
	                socket.onmessage = function(event) {
	                    var ta = document.getElementById('responseText');
	                    var rsp = JSON.parse(event.data);
	                    var devType = rsp.device;
	                    if (rsp.fromUserId != null) {
		                    var fromUser = userMap[rsp.fromUserId];
		                    var client = fromUser.email;
	                    } else {
	                    	var client = "";
	                    }
	                    switch (rsp.type) {
	                    case 0:
	                    	srvChannel = rsp.channel;
	                    	ta.value = ta.value + '\n' 
	                    			+ "[system] " + rsp.data;
	                    	break;
	                    case 1:
	                    	ta.value = ta.value + '\n' 
                			+ "[" + client + "(" + devType + ")] " + rsp.data;
	                    	break;
	                    case 2:
	                    	document.getElementById("chatImg").src = "api/chat/picture/channel/" + rsp.channel + "/pic/" + rsp.data + "?chatToken="+chatToken;
	                    	ta.value = ta.value + '\n' 
                			+ "[" + client + "(" + devType + ")] " + rsp.data;
	                    	break;
	                    case 3:
	                    	ta.value = ta.value + '\n' 
                			+ "[" + client + "(" + devType + ")] " + rsp.data;
	                    	break;
	                    case 4:
	                    default:
	                    	ta.value = ta.value + '\n' 
                			+ "[" + client + "(" + devType + ")] " + rsp.data;
	                    }
	                    ta.scrollTop = ta.scrollHeight;
	                };
	                socket.onopen = function(event) {
	                    var ta = document.getElementById('responseText');
	                    ta.value += "\nconnected!";
	                    ta.scrollTop = ta.scrollHeight;
	                    sendConnect();
	                };
	                socket.onclose = function(event) {
	                    var ta = document.getElementById('responseText');
	                    ta.value += "\ndisconnected";
	                    ta.scrollTop = ta.scrollHeight;
	                };
	                document.getElementById('connect').value='disconnect'
	            }
	        }
	        
	        var sendConnect = function() {
	            if (!window.WebSocket) {
	                return;
	            }
	            if (socket.readyState == WebSocket.OPEN) {
	            	var msg = {
	            		type: 0,
	            		toUserId: "Iphone8@18F179F34B328341BE26F1A23698961BB56189E777FBD413106D1CDB78C6770F",
	            		data: chatToken
	            	};
	            	var json = JSON.stringify(msg);
	                socket.send(json);
	            } else {
	                alert("not connected.");
	            }
	        }
	        
	        var sendText = function() {
	            if (!window.WebSocket) {
	                return;
	            }
	            if (socket.readyState == WebSocket.OPEN) {
	            	var toUser = selectUser();
	            	var msg = {
	            		type: 1,
	            		toUserId: toUser.id,
	            		data: document.getElementById("text").value
	            	};
	            	var json = JSON.stringify(msg);
	                socket.send(json);
                    var ta = document.getElementById('responseText');
                    ta.value += "\n[you(Web)] " + msg.data;
                    ta.scrollTop = ta.scrollHeight;
	            } else {
	                alert("not connected.");
	            }
	        }
	        
	        var sendPic = function() {
	            if (!window.WebSocket) {
	                return;
	            }
	            if (socket.readyState == WebSocket.OPEN) {
	            	uploadPic(document.getElementById("text").value, socket);
	            } else {
	                alert("not connected.");
	            }
	        }
	        
			var getPairs = function() {
			    $.ajax({
			        url: "/api/account/user/" + user.id + "/pairs",
			        dataType: "json",
			        type: "get",
			        contentType: "application/json",
					headers:{
		                'Chat-Token': chatToken,
		            },
			        error: function (res) {
			            alert(res.desc);
			            return;
			        },
			        success: function (res) {
						var i=0;
						for (var user of res) {
							myPairs[i] = user;
		                    var pairs = document.getElementById('pairList');
		                    var html = '\n<tr><td><input id="pair' + i + '" type="checkbox" value=""/>' + user.email + '</td></tr>';
							$('#pairList').append(html);
							i++;
							userMap[user.id] = user;
						}
			            return;
			        }
				});
			};

			var uploadPic = function(fileName) {				
				var formData = new FormData();
//			    formData.append("file", fileName); 
				var file = $('#filePath')[0].files[0];
				formData.append("file", file);
			    $.ajax({
			        url: "/api/chat/picture/channel/" + srvChannel,
			        dataType: "json",
			        type: "post",
					headers:{
						'Chat-Token': chatToken
					},
			        data: formData, 
			        processData: false,
			        contentType: false,
			        error: function (res) {
			            alert(res.desc);
			            return;
			        },
			        success: function (res) {
		            	var toUser = selectUser();
		            	var msg = {
			            		type: 2,
			            		toUserId: toUser.id,
			            		data: res.pic
			            	};
			            	var json = JSON.stringify(msg);
			                socket.send(json);
		                    var ta = document.getElementById('responseText');
		                    ta.value += "\n[you(Web)] picture " + msg.data;
		                    ta.scrollTop = ta.scrollHeight;
			            return;
			        }
				});
			};

			var selectUser = function() {
				for (var i=0; i<myPairs.length; i++) {
                    var pairEle = document.getElementById('pair' + i);
                    if (pairEle.checked == true) {
                    	return myPairs[i];
                    }
				}
				return null;
			};
	        
	        document.getElementById("connect").onclick = connect;
	        document.getElementById("sendText").onclick = sendText;
	        document.getElementById("sendPic").onclick = sendPic;
			var wsport = [[${chatPort}]];
			var ws = [[${ws}]];
			var user = [[${user}]];
			var chatToken = [[${chatToken}]];
			var devTypes = ["Web", "Win", "Ios"];
			var myPairs=[];
			var userMap={};
			var myPairs=[];
			var srvChannel = "";
			var inviteLink = document.getElementById("invite");
			inviteLink.href = "/invite?userId=" + user.id +"&chatToken=" + chatToken;
			var welcome = document.getElementById("welcome");
			var userType = "";
			var pairType = "";
			var pairTypeEle = document.getElementById("pairType");
			if (user.type==1) {
				userType = "Doctor ";
				pairType = "Patient"
				pairTypeEle.innerText = "my patients";
			} else if(user.type==2) {
				userType = "Patient ";
				pairType = "Doctor"
				pairTypeEle.innerText = "my doctors";
			}
			welcome.innerText = "Welcome " + userType + user.email + "(" + user.firstName + " " + user.lastName + ")";
	        var socket;
	        if (!window.WebSocket) {
	            window.WebSocket = window.MozWebSocket;
		        if (!window.WebSocket) {
		        	document.getElementById('responseText').value="Browser doesn't support WebSocket！";
		        }
	        }
	        getPairs();
			
		});
	/*]]>*/
	</script>
</head>
<body>
    <form onsubmit="return false;">
    	<h3>
        <label id="welcome"></label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	    <label th:text="'uChat V1.1(chat port: ' + ${chatPort}"></label>)
	   	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a id=invite href=/invite target="view_window">invite patient</a>
	    </h3>
       	<input id="connect" type="button" value="connect"/>
        <table>
        <tr>
        <td id=pairType></td>
        <td>Chat Message</td>
        <td>Chat Picture</td>
        </tr>
        <tr>
        <td class="pair">
        	<div>
	        <table>
	        	<tbody id="pairList">
	        	</tbody>
	        </table>
        	</div>
        </td>
        <td>
        <textarea id="responseText" readonly="readonly" style="width: 500px; height: 500px;"></textarea>
        </td>
        <td>
	        <div style="width: 500px; height: 500px;"><img id="chatImg" src="/images/uChat.jpg"></div>
        </td>
        </tr>
        </table>
        <input id="text" type="text" name="message"  style="width: 400px;" value=""/>
        <input id="sendText" type="button" value="send text"/>
	    <input id="filePath" name="filePath" type="file"/>
        <input id="sendPic" type="button" value="send picture"/>
        <input id="clear" type="button" onclick="javascript:document.getElementById('responseText').value=''" value="clear"/>
    </form>
    <br/>
   	<a href=swagger-ui.html>uChat server API document</a>
        &nbsp&nbsp&nbsp&nbsp<a href=download/ulab.crt>download ULAB SSL certification</a>
        &nbsp&nbsp&nbsp&nbsp<a href=download/uchat.zip>download Window App</a>
</body>
</html>